/*****************************************************************************/
/*                              General Styling                              */
/*****************************************************************************/

* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* "Coding Quiz Challenge" title */
h1 {
    font-size: 220%;
}

/* Questions and "All Done" */
h2 {
    font-size: 180%;
}

/*****************************************************************************/
/*                                Header block                               */
/*****************************************************************************/

/* Header with link and timer */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header p {
    font-size: 130%;
}

#high-scores-link {
    color: blue;
}

#high-scores-link:hover {
    color: black;
    border-bottom: solid 1px black;
    cursor: pointer;
}

/* Launch Page */
#launch-page {
    margin: auto;
    width: 50%;
    text-align: center;
}

#launch-page p{
    font-size: 130%;
}

#launch-page button{
    font-size: 130%;
    padding: 10px 30px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
}

/*****************************************************************************/
/*                                 Questions                                 */
/*****************************************************************************/

/* Display of questions, initially they are hidden */

#all-questions {
    display: none;
    padding: 5px 20%;
}

/*
 * Using the CSS counter function to number buttons.
 * https://stackoverflow.com/questions/62792415/buttons-numbered-as-li-in-ol
*/

#all-questions ol {
    list-style: none;
    counter-reset: olCounter;
}

#all-questions li {
    counter-increment: olCounter;
}

/* I don't like hard-coding the width like this, need something more flexible */
#all-questions li button {
    font-size: 130%;
    background-color: darkblue;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    width: 30%;
    text-align: left;
}

#all-questions li button::before {
    content: counter(olCounter) ". ";
}

/* #Q2 { */
/*     display: block; */
/* } */

#all-questions p.response {
    color: gray;
    font-size: 180%;
    font-style: italic;
    border-top: solid 2px gray;
    margin-top: 30px;
    width: 80%;
}

/*****************************************************************************/
/*                                End of Quiz                                */
/*****************************************************************************/

/* Finishing Display: initially hidden */
#finished {
    display: none;
    margin: auto;
    width: 50%;
    text-align: left;
}

#finished input, label {
    font-size: 130%
}

/*****************************************************************************/
/*                                High Scores                                */
/*****************************************************************************/

/* High scores: initially hidden */
#high-scores {
    display: none;
    margin: auto;
    width: 50%;
    text-align: left;
}

#high-scores button {
    font-size: 130%;
    background-color: darkblue;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
}

#high-scores div {
    margin: 50px 0px;
}

#high-scores li {
    font-size: 130%;
}
